*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #462D56;
}   

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow:hidden;
}

.gameLauncher{
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(./investigation.jpg);  
    background-size:cover;
    padding: 2em;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle{
    margin: auto;
    font-family: 'NATS';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 135px;
    letter-spacing: 0.31em;
    color: rgba(204, 101, 57, 0.24);
    -webkit-text-stroke: 3px #CC6539;
}

.subTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */

    letter-spacing: 0.31em;

    color: #CC6539;
    
}

.gameBody{
    display: flex;
    flex-direction: column;
}

.descriptText{
    width: 50;
    margin: auto;
    background: rgba(204, 101, 57, 0.38);;
    border-radius: 14px;
    padding: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 193.9%;
    /* or 50px */
    color: #FFFFFF;
}

#continue{
    margin-top: 1em;
    background: rgba(204, 101, 57, 0.65);
    border-radius: 11px;
    position: relative;
    align-self: flex-end;
    border: none;
    padding: 0 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 193.9%;
    /* or 50px */
    color: #FFFFFF;
}

.gameHeader{
    display: flex;
    justify-content: space-between;
}

.gameHeader > *{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.navButton{
    cursor: pointer;
}

.hidden{
    display: none;
}

.gameBox{
    width: 100%;
    height: 75%;
    background-color: #F1F2F4;
    margin-top: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/** clock implementation **/

.clockBase {
    height: 150px;
    width: 150px;
    position: relative;
}

.clockBase_circle{
    fill:none;
    stroke: none;
}

.clockBase_path-elapsed{
    stroke-width: 7px;
    stroke: grey;
}

.clockBase_label{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
