*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #462D56;
}   

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: url('./david-von-diemar-jM6Y2nhsAtk-unsplash.jpg');
    overflow:hidden;
    object-fit:scale-down;
}

#gameLauncher{
    width: 100%;
    height: 100%;
   
}