*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #462D56;
}   

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x:hidden;
}

.gameLauncher{
    width: 100%;
    min-height: 100%;
    margin: auto;
    position:absolute;

    background: url(./investigation.jpg);  
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;

    

    padding: 2em;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle{
    margin: auto;
    font-family: 'NATS';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 135px;
    letter-spacing: 0.31em;
    color: rgba(204, 101, 57, 0.24);
    -webkit-text-stroke: 3px #CC6539;
}

.subTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */

    letter-spacing: 0.31em;

    color: #CC6539;
    
}

.gameBody{
    display: flex;
    flex-direction: column;
}


.descriptText{
    width: 50;
    margin: auto;
    background: rgba(204, 101, 57, 0.38);;
    border-radius: 14px;
    padding: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 193.9%;
    /* or 50px */
    color: #FFFFFF;
}

#continue{
    margin-top: 1em;
    background: rgba(204, 101, 57, 0.65);
    border-radius: 11px;
    position: relative;
    align-self: flex-end;
    border: none;
    padding: 0 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 193.9%;
    /* or 50px */
    color: #FFFFFF;
}

.gameHeader{
    display: flex;
    justify-content: space-between;
}

.gameHeader > *{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.navButton{
    cursor: pointer;
}

.hidden{
    display: none;
}

.gameBox{

    background-color: #F1F2F4;
    margin-top: 5em;
    margin:auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: auto;
    flex-wrap:wrap;
}
.hash{
    display:flex;
    padding:2em;
    align-items: center;
    width: 100%;
    text-align: center;
   word-break: break-all;
    
}
.copyClip{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2em;
}
.hashDescript{
    display:flex;
    width:100%;
    align-items: center;
    text-align: center;
    padding:2em;
}
.loginBox{
    
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(3px);
    width:100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:6%;
    height:100%;
    justify-items: center;
    align-content: center;
    
}
.blur{
    background: url(./Windows.jpg);
    background-size: cover;
   
    background-blend-mode: multiply;
    
    margin-top: 10em;
    margin-left: 20%;
    margin-right: 20%;
    height:400px;
    width: auto;

    filter:drop-shadow(8px 8px 6px black);


}

.adminPic{
    height:100px;
    width:100px;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 3;

}
.adminLabel{
    grid-area: Label;
    color:white;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.passwordBox{
    grid-area: Password;
}
.answer{
grid-area: answer;
}
.flashes{
    grid-column: 2;
    grid-row:7;
    color: #FFFFFF;
}
.flahses, .message{
    color:white;
    font-size: 16px;
}
.laptopScreen{
    grid-column: 2;
    grid-row:4/7;
    gap:10%;
    display: grid;
    grid-template-areas: 
    '.'
    'Label'
    'Password'
    'answer'
    '.';
    justify-items: center;
    align-content: center;
}
/** clock implementation **/

.clockBase {
    height: 100px;
    width: 100px;
    position: relative;
}

.clockBase_circle{
    fill:none;
    stroke: none;
}

.clockBase_path-elapsed{
    stroke-width: 5px;
    stroke: grey;
}

.clockBase_label{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}

.base-timer__path-remaining {
    stroke-width: 5px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
 .gameBoxPhone{
    background-color: #F1F2F4;
    margin-top: 5em;
    margin:auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 200%;
    flex-wrap:wrap;
 }
 .phoneBox{
    background-color: rgba(42, 55, 113, 0.795);
    backdrop-filter: blur(3px);
    width:50%;
    display: grid;
    height:100%;
    justify-items: center;
    align-content: center;
    align-self: center;
    vertical-align: center;
 }
 
.dial {
    font-family: Helvetica;
    text-align: center;
    vertical-align: middle;
    line-height: 85px;
    font-size: 40px;
    color: black;
    list-style: none;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 5px;
    border-radius: 100%;
    background: white;
    position: relative;
}
 .submitAnswer{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
 }
 .phoneDescript{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
 }
 .phoneFlash{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
 }
 .phoneHome
 {
    background: url(./phoneBackground.jpeg);
    background-size:auto;
    height:700px;
    width: 400px;
    margin-top: 5em;
    margin:auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
   
 }
 .photosButton
 {
    background: url(./photosApp.png);
    background-size: contain;
    height:70px;
    width:70px;
    left:1000px;
    bottom: 700px;
    border:1px;
    position: relative;
    
 }

 .stegoImage
 {
    display:none
    
 }