<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
       <div class="gameLauncher" id="firstScene"> <!-- game launcher intro scene, with game description, image and continue button. All corresponding scenes should maybe be wrapped in a div which is shrunk down so it's not full screen?-->
            <div class="gameHeader">
                <div class="title">
                    <h1 class="mainTitle">CSI:</h1>
                    
                </div>
            </div>
            <div class="gameBody">
                <div class="descriptText">
                    Scotland Yard has asked you to gather digital evidence against Laundromats Incorporated who are being investigated for money laundering. We have gathered three pieces of crucial evidence, the system administrators laptop, cell phone and server. Complete challenges attached to each piece of evidence to help us expose Laundromats Inc., we are only able to hold the evidence for 24 hours. Goodluck. 
                </div>
                <button id="continue">
                    continue &#8680;
                </button>
            </div>
            <div class="gameTracker">

            </div>
        </div>
        <div class="hidden" id="secondScene"> <!-- second scene, contains clickable elements, a navigation menu (which has time and room title), as well as a tracker for challenges and score-->
            <div class="gameHeader"> <!-- contains nav menu (maybe just exit game, or return to main room), room title and time-->
                <div class="navButton">
                    exit
                </div>
                <div class="roomTitle">
                    Evidence Room
                </div>
                <div class="clock">
                    24h 00min
                </div>
            </div>
            <div class="gameBox"> <!-- contains main clickable elements to launch related challenges -->
                
            </div>
            <div class="trackerElements"> <!-- contains checklist for challenges and scores -->
                <div class="checklist" id="checkList1">

                </div>
                <div class="checklist" id="checkList2">

                </div>
                <div class="checklist" id="checkList3">

                </div>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='script.js')}}" async defer></script>
    </body>
</html>