<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css')}}"
		/>
		<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
	</head>
	<body onload="changeLockPic()">
		<div class="gameLauncher" id="secondScene">
			<!-- second scene, contains clickable elements, a navigation menu (which has time and room title), as well as a tracker for challenges and score-->
			<div class="gameHeader">
				<!-- contains nav menu (maybe just exit game, or return to main room), room title and time-->
				<div class="nav_buttons">
					<div class="navButton" onclick="goToWeb()">Exit</div>
					<div class="splunkKeys">
						<button class="splunkKeyButton" onclick="goToSplunk()">
							Splunk Keys
						</button>
					</div>
				</div>
				<div class="roomTitle">Evidence Room</div>
				<div id="clock"></div>
			</div>
			

			<div class="evidenceRoom">
				<div class = "helpOverlayModalButton" onclick="showHelpModal()">i</div>
				<div id="helpOverlayModal">
					<span class="closeHelpModal" onclick="closeHelpModal()">&times;</span>
					<h1 id = "challengeInstructionsH1">Challenge instructions</h1>
					<p id = "challengeInstructionsP">This is the evidence room. Try clicking on pieces of evidence to investigate them.</p>
				</div>
				<div class="laptopPic" onclick="goToLaptop()"></div>
				<div class="phonePic" onclick="goToPhone()"></div>
				<div class="serverPic" onclick="goToServer()"></div>
				
				<div id = "laptopLock"></div>
				<div id = "phoneLock"></div>
				<div id = "serverLock"></div>
			</div>
			<div class="trackerElements">
				<!-- contains checklist for challenges and scores -->
				<div class="checklist" id="checkList1"></div>
				<div class="checklist" id="checkList2"></div>
				<div class="checklist" id="checkList3"></div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='script.js')}}"></script>
		<script>
			myVar = getTimeLimit({{userTime}})
			function changeLockPic(){
				var True = true;
				var False = false;

				var chall1State= {{chall1State}};
				var chall2State = {{chall2State}};
				var chall3State = {{chall3State}};

				if (chall1State){
					document.getElementById('laptopLock').style.backgroundImage="url(../static/unlocked.png)"
				}
				if (chall2State){
					document.getElementById('phoneLock').style.backgroundImage="url(../static/unlocked.png)"
				}
				if (chall3State){
					document.getElementById('serverLock').style.backgroundImage="url(../static/unlocked.png)"
				}
				if(chall1State&&chall2State&&chall3State)
				{
					document.getElementById('challengeInstructionsH1').innerText = "Congratulations!"
					document.getElementById('challengeInstructionsP').innerText = "You have completed all of the splunk challenges. Well done!"
					const jsConfetti = new JSConfetti()
                    jsConfetti.addConfetti({
                        confettiRadius: 7,
                        confettiNumber: 400,
                    })
                }
				
			}
		</script>
		
	</body>
</html>
