<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css')}}"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="gameLauncher" id="challengeOne">
			<div class="gameHeader">
				<div class="navButton" onclick="goToEvidence()">Back</div>
				<div class="roomTitle">Evidence Room</div>
				<div id="clock"></div>
			</div>

			<div class="buttonContainer tooltip">
				<button class="buttonHelp" onclick="getHint('laptopHint')">
					<span class="material-icons-outlined md-30">&#xE79A;</span>
				</button>
				<span class="tooltiptext">Use a hint!</span>
			</div>
			<div class="hidden" id="hintDiv">
				<div class="hintNav">
					<button id="closeHint" onclick="closeHint()">
						&#10006;
					</button>
				</div>
				<div id="hintText">

				</div>
			</div>

			<div class="gameBox">
				<p class="hashDescript">
					We need access to this computer, we suspect this hash is the password:
				</p>
				<div id="hash" class="hash">{{password}}</div>
				<button class="copyClip" onclick="copyTextToClipboard(hash)">
					Copy to Clipboard
				</button>
			</div>
			<div class="loginBox">
				<div class="blur">
					<img
						class="adminPic"
						src="{{url_for('static', filename='investigation.jpg')}}"
					/>
					<form class="laptopScreen" action="" method="POST">
						<label for="answer" class="adminLabel">System Admin</label>
						<input
							type="text"
							name="answer"
							id="answer"
							class="passwordBox"
							placeholder="password"
						/>
						<input
							type="submit"
							id="submitAnswer"
							class="answer"
							value="Login"
						/>
					</form>
					{% with messages = get_flashed_messages() %} {% if messages %}
					<ul class="flashes">
						{% for message in messages %}
						<li class="message">{{message}}</li>
						{% endfor %}
					</ul>
					{% endif %} {% endwith %}
				</div>
			</div>
		</div>

		<script
			src="{{ url_for('static', filename='script.js')}}"
			async
			defer
		></script>
	</body>
</html>
