{% extends 'homebase.html'%}{%block msg%} {% with messages =
get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div id="account-success" class="aboutPara2">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}{%endblock%} {%block side_profile%}
<div class="user-menu" onclick="openProfile()">
	<p class="bar-container">{{user_name}}</p>
	<div class="bar-container">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
</div>
<div id="side-profile" class="side-profile">
	<div class="profile-header">
		<p>{{user_name}}</p>
		<div class="close-profile" onclick="closeProfile()">
			<div class="bar-container">
				<div class="bar rotate1"></div>
				<div class="bar rotate2"></div>
			</div>
		</div>
	</div>
	<div class="profile-section">
		<a href="{{url_for('views.logged_in')}}">Home</a>
		<a href="{{url_for('views.resources')}}">Resources</a>
	</div>
	<div class="profile-section">
		{%if current_user.lecturerStatus == 0%} {%if current_user.lecturerCode ==
		None%}
		<form method="POST">
			<div class="input-group profile-form">
				<label>Lecturer Code:</label>
				<input
					type="text"
					id="student-code2"
					name="student-code2"
					placeholder="Enter lecturer code."
				/>
			</div>
			<button
				class="playBtn"
				name="code"
				type="submit"
				id="submit-code"
				value="Submit"
			>
				Submit
			</button>
		</form>
		{%if points:%}
		<a href="{{url_for('views.leaderBoard')}}">Leaderboard</a>
		{%else:%} {%endif%} {%elif current_user.lecturerCode:%} {%for users in
		lecturer_name%}
		<div class="classroom">
			<p>You are in {{users.user_name}}'s class.</p>
			{%endfor%}
			<form method="POST">
				<span
					><input type="submit" name="code" class="playBtn" value="Leave"
				/></span>
			</form>
		</div>
		{%if points:%}
		<a href="{{url_for('views.leaderBoard')}}">Leaderboard</a>
		{%else:%} {%endif%} {%endif%} {%else:%}
		<a href="JavaScript:Void(0)" onclick="codeDisplay()">Show Lecturer Code</a>
		<div id="code-popup-bg" class="code-popup-bg">
			<div id="code-popup" class="code-popup">
				<div class="heading-code">
					<p class="para-code">Your code is:</p>
					<div class="close-profile" onclick="codeHide()">
						<div class="bar-container">
							<div class="bar rotate1"></div>
							<div class="bar rotate2"></div>
						</div>
					</div>
				</div>
				<h1 class="bold-code">{{current_user.lecturerId}}</h1>
			</div>
		</div>
		{%if points:%}
		<a href="{{url_for('views.leaderBoard')}}">Leaderboard</a>
		{%else:%} {%endif%} {%endif%}
	</div>
	<div class="profile-section">
		<a href="{{url_for('auth.logout')}}">Log Out</a>
	</div>
</div>
<div id="side-profile-background" class="side-profile-background"></div>
{%endblock%} {%block name%}, {{user_name}}{%endblock%}
