<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css')}}"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="gameLauncher" id="phoneChallenges">
			<div class="gameHeader">
				<div class="navButton" onclick="goToEvidence()">Back</div>
				<div class="roomTitle">Evidence Room</div>
				<div id="clock"></div>
				
			</div>
			<div class="buttonContainer tooltip">
				<button class="buttonHelp" onclick="getHint('phoneHint')">
					<span class="material-icons-outlined md-30">&#xE79A;</span>
				</button>
				<span class="tooltiptext">Use a hint!</span>
			</div>
			<div class="hidden" id="hintDiv">
				<div class="hintNav">
					<button id="closeHint" onclick="closeHint()">
						&#10006;
					</button>
				</div>
				<div id="hintText">

				</div>
			</div>
			
			<div class="phoneLockscreen">
                
				<form class = "passcode" action="" method="POST" id = "passcodeForm">
					<input type="text" name="answer" id="phoneAnswer" placeholder="" onkeydown="return false">
					<input type="submit" id="submitAnswer" value = "&#x21A9;">
				</form>
				{% with messages = get_flashed_messages() %} {% if messages %}
				<ul class="phoneFlash">
					{% for message in messages %}
					<li class="message">{{message}}</li>
					{% endfor %}
				</ul>
				{% endif %} {% endwith %}
                    <ul class="keypad">
                        <button class="dial" onclick="dial(1)">1</li>
                        <button class="dial" onclick="dial(2)">2</li>
                        <button class="dial" onclick="dial(3)">3</li>
                        <button class="dial" onclick="dial(4)">4</li>
                        <button class="dial" onclick="dial(5)">5</li>
                        <button class="dial" onclick="dial(6)">6</li>
                        <button class="dial" onclick="dial(7)">7</li>
                        <button class="dial" onclick="dial(8)">8</li>
                        <button class="dial" onclick="dial(9)">9</li>
                        <button class="dial middle"onclick="dial(0)">0</li>
						<button class = "dial" onclick = "backspace()">⌫</li>
                    </ul>
                   

            </div>
				<p class="phoneDescript">
					This phone is protected by a passcode.<br>
                    We have discovered some information that may help you.<br>
                </p>
                <p class="phoneDescript">
                    Prime: 604931<br>
                    Generator: 30672<br>
                    Private key 1: {{a}}<br>
                    Private key 2: {{b}}<br>
                    Can you crack it?
				</p>
				
			</div>
			
		</div>
		<script
			src="{{ url_for('static', filename='script.js')}}"
			async
			defer
		></script>
	</body>
</html>